<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">No Probllama!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">Animals</a></li>
        <li><a href="/foods">Food Inventory</a></li>
        <li><a href="/feedings">Feedings</a></li>
        <li><a href="/sponsorships">Sponsorships</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="col-md-8 mx-auto">
  <h3>Animals</h3><br>

  <h4>Add an Animal</h4><br>
  <!-- The form -->
  <form id="addAnimal" action="/animals" method="post">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" id="" name="name">
    </div>
    <div class="form-group">
      <label for="">Species</label>
      <select class="form-control" id="" name="id">
        {{#each species}}
        <option value="{{id}}">{{species_name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="">Birthdate</label>
      <input type="date" class="form-control" name="birthdate">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
    <br>
    <hr>
    <div class="form-group">
      <label for="">
        <h4>Add New Species</h4>
      </label>
      <input type="text" class="form-control" id="">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
  <br>
  <hr>
  <h4>Search for an Animal</h4><br>

  <h4>Search by Name</h4>


  <!-- The form -->
  <form class="example" action="action_page.php">
    <input id='name_search_string' type='text' name='name_search_string' value=''>
    <input type="button" value="Search" onclick="searchAnimalsByName()">
  </form><br><br>

  <h4>Filter by Species</h4>

  <!-- Filter by species not yet implemented on frontend-->
  <form id='filter_animals' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by Species </label>
    <select id='species_filter' name="species_id" name="species_filter">
      {{#each species}}
      <option value="{{id}}">{{species_name}}</option>
      {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterAnimalsBySpecies()">
  </form>

  <br>
  <hr>

  <!--Animal Search Results / Display Current Animals-->

  <h3>Search Results</h3>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SPECIES</th>
        <th>BIRTHDATE</th>
        <th>ACTIVE</th>
      </tr>
    </thead>
    <tbody>
      {{#each animals}}
      <tr>
        <td>{{animal_id}}</td>
        <td>{{name}}</td>
        <td>{{species_name}}</td>
        <td>{{birthdate}}</td>
        <td>{{active}}</td>
        <td><a href="/animals/{{id}}">Update Active Status</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>



  <footer class="container-fluid text-center">
    <h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
  </footer>
</div>
