<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">No Probllama!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/animals">Animals</a></li>
        <li><a href="/foods">Food Inventory</a></li>
        <li><a href="/feedings">Feedings</a></li>
        <li><a href="/sponsorships">Sponsorships</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="col-md-8 mx-auto">
  <h3>Animals</h3><br>
  <div class="">
    <h4>Add an Animal</h4>
  </div>
  <div class="form-group">
    <form id="addAnimal" action="/animals" method="post">
      <label for="">Name</label>
      <input type="text" class="form-control" id="" name="name" required><br>
      <label for="">Species</label>
      <select class="form-control" id="" name="id">
        {{#each species}}
        <option value="{{id}}">{{species_name}}</option>
        {{/each}}
      </select><br>
      <label for="">Birthdate</label>
      <input type="date" class="form-control" name="birthdate"><br>
      <input type="submit" value="Add">
    </form>
  </div>

  <br>
  <hr>
  <br>

  <div class="">
    <h4>Add New Species</h4>
  </div>

  <div class="form-group">
    <form method="post" action="/species">
      <input type="text" class="form-control" name="species_name" required><br>
      <input type="submit" value="Add">
    </form>
  </div>

  <br>
  <hr>
  <h3>Search for an Animal</h3><br>

  <!-- The form -->
  <div class="form-group">
    <form class="example" action="action_page.php">
      <input id='name_search_string' type='text' name='name_search_string' value=''><br>
      <input type="button" value="Search" onclick="searchAnimalsByName()">
    </form><br><br>
  </div>


  <h4>Filter by Species</h4>
  <div class="form-group">
    <!-- Filter by species not yet implemented on frontend-->
    <form id='filter_animals' action='' method=''>
      <!--- this form does not submit directly, the button handles all the interaction with backend -->
      <select id='species_filter' name="species">
        {{#each species}}
        <option value="{{id}}">{{species_name}}</option>
        {{/each}}
      </select><br>
      <input type="button" value="Filter" onclick="filterAnimalsBySpecies()">
    </form>
  </div>
  <br>
  <hr>

  <!--Animal Search Results / Display Current Animals-->

  <h3>Your Animals</h3>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SPECIES</th>
        <th>BIRTHDATE</th>
        <th>ACTIVE</th>
        <th></th>
        <!--Empty header reserved for update button-->
      </tr>
    </thead>
    <tbody>
      {{#each animals}}
      <tr>
        <td>{{animal_id}}</td>
        <td>{{name}}</td>
        <td>{{species_name}}</td>
        <td>{{birthdate}}</td>
        <td>{{active}}</td>
        <td><a href="/animals/{{animal_id}}">Update Active Status</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>



  <footer class="container-fluid text-center">
    <h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
  </footer>
</div>
