<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">No Probllama!</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/animals">Animals</a></li>
				<li><a href="/foods">Food Inventory</a></li>
				<li class="active"><a href="#">Feedings</a></li>
				<li><a href="/sponsorships">Sponsorships</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="col-md-8 mx-auto">

	<div><br>
		<h3>Search for Feeding Details by Animal Name</h3>

		<!-- The form -->
		<form class="example" action="action_page.php">
			<input id='name_search_string' type='text' name='name_search_string' value=''>
			<input type="button" value="Search" onclick="searchAnimalsByName()">
		</form><br><br>
	</div>

	<div class="">
		<h3>Add New Feeding Details for an Animal</h3>
	</div>
	<br>

	<form id="addFeeding" method="post" action="/feedings">
		<div class="form-group">
			<label for="animal_name">Animal Name</label>
			<select class="form-control" id="animal" name="animal_id">
				{{#each animals}}
				<option value="{{animal_id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="food_type">Food Type</label>
			<select class="form-control" id="food" name="food_id">
				{{#each foods}}
				<option value="{{food_id}}">{{food_type}}</option>
				{{/each}}
			</select>
		</div>
		<div class="form-group">
			<label for="amount">Amount</label>
			<input type="number" class="form-control" name="amount" value="">
		</div>
		<div class="form-group">
			<label for="x_per_day">Times per Day</label>
			<input type="number" class="form-control" name="x_per_day" value="">
		</div>
		<div class="form-group">
			<input type="submit" class="" name="add" value="Add">
		</div>
	</form>

	<br>
	<hr>

	<div class="">
		<h3>List of Feeding Details</h3>
	</div>
	<br>

	<table class="table mt-3">
		<thead>
			<tr>
				<th>Animal</th>
				<th>Food type</th>
				<th>Amount</th>
				<th>
					<!-- empty for update button -->
				</th>
				<th>Times per Day</th>
				<th>
					<!-- empty for update button -->
				</th>
				<th>
					<!-- empty for delete button -->
				</th>
			</tr>
		</thead>
		<tbody>
			{{#each feedings}}
			<tr>
				<td>{{name}}</td>
				<td>{{food_type}}</td>
				<td>{{amount}}</td>
				<td><a href="/feedings/{{amount}}">Update</a></td> <!-- Not sure if this is correct for updating -->
				<td>{{x_per_day}}</td>
				<td><a href="/feedings/{{x_per_day}}">Update</a></td> <!-- Not sure if this is correct for updating -->
				<td><button onclick="deleteFeeding({{animal_id}},{{food_id}})">Delete</button></td>
			</tr>
			{{/each}}
		</tbody>
	</table>



	<footer class="container-fluid text-center">
		<h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
	</footer>

</div>
</div>