<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">No Probllama!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/animals">Animals</a></li>
                <li class="active"><a href="/foods">Food Inventory</a></li>
                <li><a href="/feedings">Feedings</a></li>
                <li><a href="/sponsorships">Sponsorships</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="col-md-8 mx-auto">


    <div class="">
        <h3>Add a New Food</h3>
    </div>
    <br>

    <form method="post" action="/foods">
        <div class="form-group">
            <label for="food_type">Food type</label>
            <input type="text" class="form-control" name="food_type" value="" required>
        </div>
        <div class="form-group">
            <label for="amount">Amount (lbs)</label>
            <input type="number" class="form-control" name="inventory" value="" required>
        </div>
        <div class="form-group">
            <input type="submit" class="" name="add" value="Add">
        </div>
    </form>

    <br>
    <hr>

    <div class="">
        <h3>Food Inventory</h3>
    </div>
    <br>


    <table class="table mt-3">
        <thead>
            <tr>
                <th>Food type</th>
                <th>Inventory (lbs)</th>
                <th>Update Inventory Amount</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr>
                <td>{{food_type}}</td>
                <td>{{inventory}}</td>
                <td>
                    <form id="updateFoods" action="/foods" method="post">
                        <input type="number" class="form-control" name="inventory" value="{{inventory}}" required>
                    </form>
                </td>
                <td>
                    <button class="btn" type="" name="update" onclick="updateFood({{food_id}})">Update</button>

                </td>
                <td>
                    <button class="btn" type="" name="delete" onclick="deleteFood({{food_id}})">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>



    <footer class="container-fluid text-center">
        <h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
    </footer>

</div>
</div>
