<html lang="en">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">No Probllama!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/foods">Food Inventory</a></li>
        <li><a href="/feedings">Feedings</a></li>
        <li class="active"><a href="/sponsorships">Sponsorships</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-md-8 mx-auto">
  <div class="">
    <h3>Sponsorships</h3>
  </div>
  <br>

  <!-- Add New Sponsorship section-->
  <div class="">
    <h4>Add New Sponsorship</h4>
  </div>
  <div class="form-group">
    <form id="addSponsorship" method="post" action="/sponsorships">
      <label>Select Sponsor</label>
      <select class="form-control" id="sponsor" name="sponsor_id">
        {{#each sponsors}}
        <option value="{{sponsor_id}}">{{first_name}} {{last_name}}</option>
        {{/each}}
      </select><br>
      <label>Select Animal</label>
      <select class="form-control" id="animal" name="animal_id">
        {{#each animals}}
        <option value="{{animal_id}}">{{sponsee}}</option>
        {{/each}}
      </select><br>
      <label for="amount">Amount:</label>
      <input type="text" class="form-control" name="amount" required><br>
      <input type="submit" name="add" value="Add">
    </form>
  </div>

  <br>
  <hr>
  <br>

  <!-- Add New Sponsor section-->
  <div class="">
    <h4>Add New Sponsor</h4>
  </div>

  <div class="form-group">
    <form method="post" action="/sponsors">
      <label for="first_name">First name:</label>
      <input type="text" class="form-control" name="first_name" required><br>
      <label for="last_name">Last name:</label for="food_type">
      <input type="text" class="form-control" name="last_name" required><br>
      <label for="phone_number">Phone number:</label>
      <input type="tel" class="form-control" name="phone_number" placeholder="format 5555555555"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br>
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email" required><br>
      <input type="submit" name="add" value="Add">
    </form>
  </div>

  <br>
  <hr>
  <br>

  <h3>Top Sponsors</h3>
  <table class="table mt-3">
    <thead>
      <tr>
        <th>Sponsor name</th>
        <th>Animal</th>
        <th>Species</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each top_sponsorships}}
      <tr>
        <td>{{sponsor_name}}</td>
        <td>{{name}}</td>
        <td>{{species_name}}</td>
        <td>${{amount}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <br>
  <hr>
  <br>


  <footer class="container-fluid text-center">
    <h6>Copyright No Probllama! 2020 All Rights Reserved.</h6>
  </footer>
</div>
</div>

</html>